{% extends 'base.html.twig' %}



{% block body %}

<div class="card-group">
{% for dog in returnGetAll %}
<div class="card text-white bg-danger mb-3 card text-center" style="max-width: 18rem;">
    <div class="card-header">{{dog.name}}</div>
    <div class="card-body">
      <h5 class="card-title">Age :{{dog.age}}</h5>
      <p class="card-text">Breed :{{dog.breed}}</p>
      <a href="{{path('dog', {id:dog.id})}}" class="btn btn-success">Edit</a>
    </div>
  </div>
{% endfor %}
</div>


{% endblock body %}

