{% extends 'base.html.twig' %}

{% block title %}Single dog!{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">Update Dog</button>
{{ form_end(form) }}

<a href="{{path('remove_dog', {id:dog.id})}}" class="btn btn-danger">Supprimer</a>
{% endblock %}
